body{
    min-width: 100px;
    min-height: 100hv;
}

*{ 
    text-decoration: none !important;
    list-style-type: none !important;
    margin: 0  !important;
    color: white !important;
}
header{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
}
.navBar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 200px;
    /* left: 50%; */
    /* height: auto; */
  /* transform: translateX(-50%); */
    background-color: #5c0067;

}
@media screen and (max-width: 998px){
    .navBar{
        background-color: yellow;
        width: 100%;
        min-width: 200px;
    }
    header{
        min-width: 200px;
    }
    .navLinks {
        position: absolute;
        height: 100px !important;
        background-color: green;
        width: 50%;
        top: 0px;
        right: 0px !important;
        height: 100vh !important;
        align-items: start;
        justify-content: start;
        display: flex;
        padding-top: 100px;


    }
    body{
        min-width: 200px;
    }
}


.btn-parent{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    top: 20px;
    right: 0px;


}

.btn-child{
    width: 80%;
    height: 3px;
    background-color: #fff !important;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 0px 5px #888888 !important;
}
.btn-child::before, .btn-child::after{
    content: "";
    width: 80%;
    height: 3px;
    background-color: #fff !important;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0px 0px 5px #888888 !important;
}
.btn-child::before{
    transform: translateY(-10px);
}
.btn-child::after{
    transform: translateY(10px);

}
.btn-parent.open .btn-child{
    /* width: 80%; */
    box-shadow: none !important;
    transform: translateX(-50px);
    background-color: transparent !important;
    transition: all .3s;
    /* display: none; */
}

.btn-parent.open .btn-child::before{
    transform: rotate(45deg) translate(35px, -35px);
    box-shadow: none;

}

.btn-parent.open .btn-child::after{
    transform: rotate(-45deg) translate(35px, 35px);
    box-shadow: none;

}
